*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: white;
    font-size: 1.2rem;

}

body{
    background-image: url(./09-game-corner-homebnc1.jpg);
    background-repeat: no-repeat;
    background-color:rgb(41, 2, 2);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-blend-mode: multiply;
    transition: all 1s ease-in-out;
}

body:hover{
    background-color: blue;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container h3{
    font-size: 2.5rem;
    margin: 20px 0;
    font-weight: bold;
}
.container p {
    margin: 20px 0;
    font-size: 1.5rem;
}